@{
    ViewBag.Title = "B2C Demo";
}
<div class="jumbotron">
    <h1>B2C sign-up & sign-in demo</h1>
    <p class="lead">User profile ID: @ViewBag.UserProfileId</p>
</div>
<div class="row">
    <div class="col-md-2">&nbsp;</div>

    <div class="col-md-8">
        <img src="http://img.fifa.com/mm/photo/affederation/committees/01/98/20/02/1982002_full-lnd.jpg" />
    </div>
    <div class="col-md-2" >&nbsp;</div>
</div>